<html lang="en">
  <head>
    <link rel="icon" href="/img/weathericon.png"/>
    <link rel="stylesheet" href="./css/stylesheet.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <h2>Shhh... There is nothing else you need to know other than the current weather...  🛸</h2>
    </div>
    {{>footer}}
  </body>
</html>